.mainBlock {
    @apply flex
        min-h-screen flex-col 
        md:flex-row;
}

.presentationBlock {
    @apply flex h-36 w-full
        items-center justify-center bg-violet-900
        p-12
        md:h-full md:min-h-screen md:w-1/2;
}

.presentationInner {
    @apply flex h-full
        w-full flex-col items-center justify-center;
}

.titulo {
    @apply mb-4 text-center
        text-4xl font-bold
        text-white;
}

.subtitulo {
    @apply text-center text-sm font-bold text-violet-400;
}

.formBlock {
    @apply flex min-h-[calc(100vh-9rem)] w-full
        flex-col items-center justify-center bg-violet-200
        py-12
        md:min-h-screen md:w-1/2 md:items-center xl:p-12;
}

.signCallback {
    @apply mb-4 flex w-4/5 justify-center
        rounded-3xl bg-white
        p-6 shadow-xl shadow-violet-900/20
        sm:w-4/5 lg:w-3/5;
}

.form {
    @apply flex h-fit w-4/5 flex-col
        items-center rounded-3xl bg-white
        p-8 shadow-xl shadow-violet-900/20
        sm:w-4/5 lg:w-3/5;
}

.inputsBlock {
    @apply flex w-11/12 flex-col items-start;
}

.signMessage {
    @apply mt-6 text-xs 
        text-violet-900;
}

.btnSubmit {
    @apply w-11/12 rounded-3xl border border-violet-600 py-3
        text-sm tracking-wider text-violet-600
        transition duration-700
        ease-out hover:bg-violet-600 hover:text-white;
}
